@import "../helper.scss";

$sidebar-width: 325px;
$r-vector-width: 112px;

div.App {
   width: 100%;
   padding-top: 48px;
   height: 100vh;
   height: calc(var(--vh, 1vh) * 100);

   @include flex(flex-start, row);

   div.sidebar {
      width: $sidebar-width;
      border-radius: 0;
   }

   div.graph-viz {
      width: calc(100% - #{$sidebar-width} - #{$r-vector-width});
   }

   div.r-vector-wrapper {
      width: $r-vector-width;
      border-radius: 0;
   }
}
