
$bar-height: 48px;

div.graphView {
   height: 100%;

   div.graph-container {
      width: 100%;
      height: 100%;
      flex-grow: 1;

      > div {
         width: 100% !important;
         height: 100% !important;
      }
   }

   div.node-info-bar, div.graph-controls-bar {
      height: $bar-height;
      flex-shrink: 0;
   }

   div.graph-controls-bar {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
   }

   div.node-info-bar {
      border-bottom: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
   }
}
